/**** Team-Members-Section Styles ****/
section#team-members {
    position: relative;
    padding: 100px 0;
}
.team-members-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}
.modal-trigger {
    cursor: pointer;
}
.team-members-block {
    height: 405px;
    position: relative;
    overflow: hidden;
}
.team-members-block::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, #056839 0%, rgba(0, 58, 208, 0.00) 80.2%);
    z-index: 1;
}
.team-member-picture {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1.2s;
    z-index: 0;
}
.team-members-block:hover .team-member-picture {
    transform: scale(1.12);
}
.team-member-details {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    left: 10%;
    max-width: 385px;
}
.team-member-name {
    font-size: 30px;
    font-family: var(--font-bold);
    color: white;
}
.team-member-role {
    font-size: 23px;
    color: var(--lite-color);
}

@media(max-width: 992px) {}

@media(max-width: 600px) {}
/**** end of Team-Members-Section Styles ****/

/**** Team-Member-Modal Styles ****/
.modal.team-modal {
    max-height: 81%;
    border-radius: 8px;
}
.modal.team-modal .modal-content {
    padding: 0;
    background: #D9D9D9;
}
.member-modal-wrapper {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    align-items: center;
}
.member-role {
    font-size: 18px;
    font-family: var(--font-bold);
}
.member-name {
    font-size: 40px;
    line-height: 1.2;
    font-family: var(--font-2-bold);
    color: var(--pry-color);
    margin: 20px 0;
}
.member-desc {
    font-size: 16px;
}
a.member-linkedin-wrapper {
    position: absolute;
    bottom: 20px;
    color: #131316;
    right: 20px;
    font-size: 14px;
}
a.member-linkedin-wrapper span {
    position: relative;
    top: 2px;
}
.modal.team-modal img.modal-close {
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 1;
}
.member-img-side {
    height: 500px;
    width: 100%;
    position: relative;
}
img.member-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

@media(min-width: 601px) {
    .member-desc {
        max-height: 260px;
        overflow-y: auto;
    }
}

@media(max-width: 992px) {}

@media(max-width: 600px) {
    .team-members-wrapper {
        grid-template-columns: 100%;
    }
    .modal.team-modal {
        width: 90%;
    }
    .member-modal-wrapper {
        grid-template-columns: 100%;
    }
    .member-img-side {
        height: 300px;
    }
    img.member-img {
        object-position: top;
    }
    .member-txt-side {
        padding: 30px 10px;
    }
    a.member-linkedin-wrapper {
        position: relative;
        width: 100%;
        margin: 40px auto -20px;
        justify-content: flex-end;
    }
    .modal.team-modal img.modal-close {
        background: whitesmoke;
        border-radius: 50%;
        right: 10px;
    }
}
/**** end of Team-Member-Modal Styles ****/