/**** FAQs-Section Styles ****/
.faq-collapsible-wrapper {
    margin: 80px 0;
}

.faq-collapsible-wrapper .collapsible {
    border: none;
    box-shadow: none;
}

.faq-collapsible-wrapper .collapsible-header {
    font-family: var(--font-2-bold);
    font-size: 26px;
    color: #6F6F6F;
    padding: 1rem 0;
    border-bottom-color: black;
}

.faq-collapsible-wrapper .active .collapsible-header {
    color: var(--pry-color);
}

.faq-collapsible-wrapper .collapsible-body {
    padding: 2rem 15px;
    background-color: var(--lite-color);
}

.faq-collapsible-wrapper img.down-arr {
    transition: transform 1.2s;
}

.faq-collapsible-wrapper .active img.down-arr {
    transform: rotate(180deg);
}

.faq-txt {
    font-size: 20px;
    color: #2E2E2E;
    font-family: var(--font-2);
}

@media(max-width: 992px) {}

@media (max-width: 600px) {
    .faq-collapsible-wrapper .collapsible-header {
        font-size: 24px;
    }
}

/**** end of FAQs-Section Styles ****/